[AWS]
KEY= "AWS access key"
SECRET ="AWS secrete key"
REGION="region"

[DWH]
SCHEMA_NAME = "database name"
S3_STAGING_DIR = "s3 location to store staging data"
S3_BUCKET_NAME = "bucket name of staging data"
S3_OUTPUT_DIRECTORY = "directory in staging bucket"
S3_OUTPUT_TABLE_DATA = "S3 location where want to store dimension model"
S3_IAM_ROLE = "ARN of redshift IAM"
S3_FINAL_BUCKET_NAME = "location where dimensional model will be stored in S3"
REDSHIFT_DB_NMAE = "name of database you gave in database configuration while creating redshift cluster
REDSHIFT_USER = this user name of redshift database.
REDSHIT_PASS = this is password using which we can connect to redshift database.
REDSHIT_ENDPOINT = "End point of redshift cluster"
REDSHIFT_S3_IAM="ARN of IAM role we mentioned while creating redshift cluster"